@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Register Login >>> Success</h1>
</div>

<h1>Register</h1>
<partial name="Register" />
<h1>Login</h1>
<partial name="Login" />
